<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Modules Lesson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2028FEA01D8D670700446824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2028FEB91D8D670700446824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2028FEC41D8D670700446824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
